body{
	margin: 0;
	padding: 0;
}
.Nav{
	box-shadow: 0px 5px 5px grey;
	height: 50px;
}
.Nav ul{
	padding: 13px;
	vertical-align: middle;
	float: right;
}
.Nav li{
	display: inline;
	padding-right: 30px;
	border-right: 1px solid black;
}

li:nth-child(4){
	border-right: none;
}

.Nav li:hover{
	cursor: pointer;
}
.Nav a{
	color: black;
	text-decoration: none;
}


.NavMini{
	display: none;
}


@media screen and (max-width: 600px){
	.Nav{
		display: none;
	}
	.NavMini{
		display: block;
	}
	.NavMini{
		float: right;
	}
	
	.NavMini ul{
		width: 150px;
		position: absolute;
		right: 0;
		list-style: none;
		background-color: rgb(0,0,0, .5);
		list-style: none;
		color: black;
		display: none;
		margin-top: 28px;
	}
	.NavMini li{
		padding-top: 4px;
	}
	.NavMini a{
		color: white;
		text-decoration: none;
	}

	span:hover.NavMini{
		display: none;
	}
}
